@font-face{
    font-family: titleFont;
    src:url("../fonts/MadeWithB.ttf") format("truetype");
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #faebd7;
}

.main-title{
    margin: 0;
    padding: 0;
    font-family: titleFont;
    color: white;
    letter-spacing: 1vw;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.main-title h1{
    margin: 0px;
    font-size: 9em;
    text-align: center;
}

.main-title h2{
    margin: 0px;
    font-size: 3em;
    text-align: center;
}

.main-title h3{
    margin: 0px;
    font-size: 5em;
    text-align: center;
}

/* SLIDE SHOW */

.slidesshow{
    width: 100%;
    overflow: hidden;
}

.slides{
    width: 500%;
    display: flex;
}

.slide-nav{
    position: absolute;
    left: 50%;
    top: 95vh;
    transform: translateX(-50%);
    display: flex;
}

.slide-bar{
    width: 4vw;
    height: 10px;
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.slide-bar:hover{
    background-color: white;
}

.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}


/* */
/* */
/* */
