@font-face{
    font-family: titleFont;
    src:url("../fonts/MadeWithB.ttf") format("truetype");
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #faebd7;
}

/* NAVIGATION BAR */
nav{
    display: flex;
}

.leftside{
    position: absolute;
    left: 0%;
    padding: 5vw;
}

.menu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-transform: uppercase;
    font-size: 2vw;
    border-bottom: 2px solid white;
    transform: 1s;
}

.menu:hover{
    border-bottom: 4px solid white;
}

.rightside{
    position: absolute;
    right: 0%;
}

/* MAIN TITLE */

.main-title{
    font-family: titleFont;
    color: white;
    position: absolute;
    width: 55%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.main-title h1{
    margin: 0px;
    font-size: 7vw;
    text-align: center;
    letter-spacing: 1vw;
    background-color: transparent;
    position: relative;
    animation: title-1 3s 1;
}

.main-title h2{
    margin: 0px;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.5vw;
    animation: title-2 3s 1;
}

@keyframes title-1{
    0%{
        color: transparent;
        letter-spacing: 2vw;
    }
    35%{
        letter-spacing: 2vw;
    }
    50%{
        letter-spacing: 1vw;
    }
}

@keyframes title-2{
    0%{
        color: transparent;
        margin-top: -10vh;
    }
    50%{
        color: transparent;
        margin-top: -10vh;
    }
}

/* SLIDE SHOW */

.slides-container{
    width: 100%;
    overflow: hidden;
}

.slides{
    width: 500%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slide-nav-container{
    position: absolute;
    width: 20%;
    left: 50%;
    top: 93vh;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    animation: fade-in 3s;
    
}

.slide-nav-canada{
    width: 100px;
    height: 100px;
    border: 1px white solid;
    border-radius: 50%;
    background-image: url(../images/imageSlideshows/slide-nav-bar-img/canada-icon.jpg);
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.slide-nav-canada:hover{
    width: 125px;
    height: 125px;
}

.slide-nav-china{
    width: 100px;
    height: 100px;
    border: 1px white solid;
    border-radius: 50%;
    background-image: url(../images/imageSlideshows/slide-nav-bar-img/china-icon.jpg);
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.slide-nav-china:hover{
    width: 125px;
    height: 125px;
}

.slide-nav-japan{
    width: 100px;
    height: 100px;
    border: 1px white solid;
    border-radius: 50%;
    background-image: url(../images/imageSlideshows/slide-nav-bar-img/japan-icon.jpg);
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.slide-nav-japan:hover{
    width: 125px;
    height: 125px;
}

@keyframes fade-in {
    0%{
        opacity: 0;
        width: 15%;
        height: auto;
    }
    100%{
        opacity: 1;
        width: 20%;
        height: auto;
    }
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r1:checked ~ .text-canada{
    margin: 5px solid white;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}


/* */
/* */
/* */
