@font-face{
    font-family: titleFont;
    src:url("../fonts/MadeWithB.ttf") format("truetype");
}

body{
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite; /*SECOND CHOICE #1*/
}

.part-one{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: antiquewhite;
}

#main-title{
    font-family: titleFont;
    font-size: 9em;
    text-align: center;
}

#sub-title-2{
    font-family: titleFont;
    font-size: 3em;
    text-align: center;
}

#sub-title{
    font-family: titleFont;
    font-size: 5em;
    text-align: center;
}

/* NAV BAR */

.nav-items{
    text-align: center;
    background-color: lightskyblue;
    padding: 1em;
}

.nav-items > div{
    margin-right: 20px;
}

.nav-link{
    display: inline;
    border-radius: 4px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s; 
}

.nav-link img{
    max-width: 1.5em;
}

.nav-link a{
    font-family: fantasy;
    text-decoration: none;
    color: white;
    font-size: 1.5em;       
    transition: font-size 0.5;
}

.nav-link:hover{
    border-bottom: 3px solid white;
}

/* SLIDE SHOW */

.slideshows{
    margin: auto;
    width: 1000px;
    height: 630px;
    border-radius: 5px;
    overflow: hidden;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-nav{
    position: absolute;
    left: 50%;
    padding: 600px;
    transform: translateX(-50%);
    display: flex;
}

.slide-bar{
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.slide-bar:hover{
    background-color: white;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}


/* */
/* */
/* */
