/*
style.css
*{
    margin:0;
    padding:0;
    border:0;
}
*/
body{
    font-size: 20px;
    font-weight: normal;
    /*same as above*/
    font: normal 20px;
}
.topic-1{
    width: 90%;
    margin: auto;
    border: 2px black solid;
}
.title-1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    /*text formating*/
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
}
.paragraph{
    background-color:whitesmoke;
    color: black;
    font-family: cursive;
    line-height: 1.6em;
}
.topic-2{
    width: 90%;
    margin: auto;
    font-family: cursive;
    font-size: 16px;
    border: 2px black solid;
    border-radius: 20px;
}
.title-2{
    text-align: left;
}
.catergories{
    padding-left: 20px;
}
.catergories a{
    text-decoration: none;
    text-transform: uppercase;
    color: skyblue;
}
.catergories a:hover{
    color: brown;
}
.catergories a:active{
    color:green;
}
.catergories a:visited{
    color: blue;
}
.form-1 input[type="text"], input[type="email"], textarea[type="message"]{
    display: block;
    width: 100%;
}
.form-1 input[type="button"]{
    background: wheat;
}
#title-3{
    text-align: center;
    background: black;
    margin: 0em;
    color: white;
}
#main-block{
    margin: 0em;
    float: left;
    width: 30%;
    box-sizing: border-box;
}
#sidebar{
    margin: 0em;
    float: right;
    width: 70%;
    background: #333;
    color: white;
    font-family: cursive;
    padding: 15px;
    box-sizing: border-box;
}
